<!DOCTYPE html>
{% extends "../base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Act</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

</head>
<body>
    {% block content %}
{{message}}


    <form id="data" method="post" action="{% url 'acts:create_1' %}" enctype="multipart/form-data">
        {% csrf_token %}
    
        {{form.as_ul}}
    
        <input class="btn btn-primary" type="submit"/>
        <input type="hidden" name="next" value="{{ next }}" />

    </form>

 <div id="articles">

 </div>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

<br>
<br>

    scopus id
    <form hx-post="{% url 'search:search_articles' %}" hx-target="#articles" hx-swap="outerHTML">
    {% csrf_token %}
    <input type="text" name="query" placeholder="ID">


    <button type="submit">Search</button>
</form>
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
    {% endblock %}
</body>
</html>