<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Первая таблица</title>
</head>
<body>


<div id="body">
<a class="button" href="{% url 'acts:create_1' %}">Добавить</a>
<table id="acts">
  <thead>
    <tr>
      <th>Название статьи</th>
      <th>Соавторы</th>
      <th>Тип автора</th>
      <th>Количество авторов</th>
      <th>Название журнала, номер, год выпуска </th>
      <th>Процентиль  (1..100 по Scopus) или квартиль (Q1..Q4 по WoS)</th>
      <th>DOI статьи</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in page_obj %}
    <tr>
      <td>{{obj.title}}</td>
      <td>{{obj.co_creators}}</td>
      <td>{{obj.author_type}}</td>
      <td>{{obj.number_of_authors}}</td>
      <td>{{obj.journal_title}}</td>
      <td>{{obj.percentile}}</td>
      <td>{{obj.url}}</td>
      <td>{{obj.file}}</td>
    </tr>
    {% endfor %}
  </tbody>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>

</table>



{% if page_obj.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">next</a>
<a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
{% endif %}





</div>


</body>
</html>